/* GENERAL STYLING*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
#container {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: black;
    text-align: center;
    z-index: -3;
}
.screen {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 0;
}
.screen * {
    z-index: 0;
    background-color: transparent;
}

/* GAME STYLING */
#game-background {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    text-align: center;
}
#camera-view {
    position: absolute;
    transform: scaleX(-1);
    visibility: hidden;
    left:0;right:0;
    top:0;bottom:0;
}
#game-screen {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

/* MAIN MENU STYLING */
#start-button {
    width: 250px;
    height: 80px;
    border-radius: 15px;
    font-size: 30px;
    border-width: 4px;
    background-color: transparent;
}

#home-screen {
}